.title {
  font-size: 72px;
  @media (max-width: 1280px) {
    font-size: 56px;
  }
  @media (max-width: 700px) {
    font-size: 32px;
  }
}

.title-block {
  max-width: 1275px;
  padding-left: 27px;
  padding-right: 27px;
  margin-left: auto;
  margin-right: auto;
}

.forms-block {
  margin: 0 20px;
  column-gap: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  @media (max-width: 1280px) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }
  @media (max-width: 700px) {
    grid-template-columns: repeat(1, 1fr);
  }
}